@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

/*Raíz da árvore do documento, ou variáveis globais que servirão para TODO o documento. Todas as variáveis em CSS, iniciam com dois traços --*/
:root {
    --cor0: #09278F;
    --cor1: #4F8F09;
    --cor2: #8F2609;
    --cor3: #B71E17;
    --cor4: #8FA8FF;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque01: 'Rochester', cursive;
    --fonte-destaque02: 'Sofia', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: 'Sofia', cursive;
}
/* Nosso HTML pegará toda a altura e largura da nossa Tela:*/
html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;  /* Esconde a barra de rolagem horizontal*/
}
/* Estilizando nosso Menu*/
.content {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center; /* alinha ao centro */
    background-color: #09278F;
    position: fixed;  /* Position: fixed permite fixar o menu no alto da tela mesmo que rolarmos a tela para baixo, nosso menu permanece visível na tela */
    padding-left: 30rem;
}

.logo {
    width: 70px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}
/* Estilizando o conteúdo da logo */
.logo h3 {
    color: white;
    font-size: 2rem;
    font-weight: 150;
}

.logo img {
    width: 100%;
    height: 100%;
}

.content .list-menu {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .list-menu li a {
    padding: 3rem 1rem 2rem 1rem;
    color: #ffff;    
    font-size: 2rem;
    font-weight: 500;
    transition: all 200ms ease-in;
}

.content .list-menu li a:hover {
    background-color: #0f2577;
    border-bottom: 4px solid #63942f;
    color: #63942f;
}
/* Estiliza first-section */


.first-section {    
    height: 100vh;
    background-image: linear-gradient(rgba(10, 39, 143, 0.5), rgba(10, 39, 143, 0.5)), url(/imagens/fundopizza900x600.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 2px;
    width: 100vw ; 
    display: flex;  /* Os ítens ficam lado a lado */
    flex-direction: column;  /* Queremos um elemento flex, mas queremos que os ítens fiquem em forma de colunas */
    justify-content: center;
    align-items: center;
}

.first-section .conteudo-principal {
    display: flex;
    flex-direction: column; /* Alinhar horizontalmente*/
    align-items: center; /* Alinhar Verticalmente*/
}

.first-section h1 {
    color: #B71E17;
    font-size: 6rem;
    font-weight: 150;
    margin-bottom: 1rem;
}

.first-section h2 {
    color: #afbef5;
    font-size: 3rem;
    font-weight: 150;
    margin-bottom: 3rem;
}

.btn button {
    width: 230px;
    height: 60px;
    cursor: pointer;
    background-color: #8F2609;
    border-radius: 10px;
    color: #04103a;
    margin-top: 5rem;
    transition: all 400ms ease-in;
}

.btn button:hover {
    border: 1px solid #63942f;
    background-color: transparent;
    color: #beccae;
}

.btn {
    width: 400px;
    display: flex;
    justify-content: space-between;
}


